.scoreboard-table {
    right: 0;
    z-index: 200;
    transform: translate(0%, 100px);
    overflow: auto;
}

.scoreboard-table .scoreboard-cell {
    background: none;
    background-color: #ffffff21;
    border-radius: 20px;
    color: rgb(243, 243, 243);
}

.scoreboard-pos {
    font-size: 40px;
    padding: 0px 20px;
    text-align: center;
    background: none;
    border-radius: 10px;
    background-color: #00ccff5b;
}