* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: white;
    background-color: #333;
    font-family: cursive;
}

h1{
    font-size: 50px;
}

form{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

label{
    margin: 15px;
}

table {
    margin: auto;
    margin-top: 20px;
}

td{
    padding: 20px;
    font-size: 30px;
}

.score{
    font-size: 30px;
}

.timer{
    font-size: 25px;
}

.lives{
    font-family: cursive;
    font-size: 30px;
}

.cell {
    background-color: aliceblue;
    width: 40px;
    height: 40px;
}

.cell:hover {
    opacity: 0.7;
    cursor: pointer;
}

.reset-btn {
    border-radius: 10px;
    font-size: 40px;
    padding: 10px;
    margin-top: 10px;
}

.reset-btn:hover {
cursor: pointer;
opacity: 0.8;
}

.selected {
    transition: 0.3s;
    background-color: gray;
}

.mine {
    transition: 0.2s;
    background-color: lightcoral;
}

.marked {
    background-color: lightsalmon;
}

.modal {
    display: none;
}