* {
    margin: 0;
    padding: 0;
}



body {
    text-align: center;
    color: white;
    background: linear-gradient(rgb(158, 158, 240), rgb(30, 5, 119));
    height: 200vh;
    font-family: cursive;
}

.dark-mode {
    background: none;
    background: linear-gradient(black, #333, gray);
    color: rgb(255, 255, 255);
}

.mode-btn {
    border: none;
    margin: 2px;
    box-shadow: 5px 5px rgb(160, 160, 160);
    font-family: cursive;
    margin-top: 5px;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
}

.mode-btn:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #333;
    color: white;
}


h1 {
    margin: 30px 0;
    font-size: 50px;
    text-shadow: 5px 5px blue;
}

form {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

label {
    margin: 15px;
}

table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

td img {
    height: 30px;
    background-color: #333;
}

td {
    background-image: none;
    background: linear-gradient(lightblue, rgb(75, 135, 155));
    padding: 5px;
    font-size: 30px;
}

.board-container {
    background-color: rgb(1, 0, 70);
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 600px;
    box-shadow: 15px 15px rgb(0, 0, 0);

}

.score {
    font-size: 30px;
}

.best-time {
    border: 2px white;
    box-shadow: 5px 5px rgb(148, 148, 148);
    padding: 10px;
    text-align: center;
    background-color: #333;
    border-radius: 20px;
    padding-left: 10px;
    margin: auto;
    font-size: 35px;
    margin-top: 10px;
    width: 60%;
}

.timer {
    box-shadow: 5px 5px rgb(148, 148, 148);
    background-color: #333;
    margin: auto;
    border-radius: 20px;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 35px;
}

.score-container{
    border-radius: 30px;
    box-shadow: 10px 10px black;
    background-color: #070063;
    width: 20%;
    margin: auto;
    padding: 10px;
}

.lives {
    font-family: cursive;
    font-size: 30px;
}

.cell {
    background-color: aliceblue;
    width: 40px;
    height: 40px;
}

.cell:hover {
    opacity: 0.7;
    cursor: pointer;
}


img {
    height: 50px;
    border-radius: 50%;
}

.reset-btn {
    border: none;
    margin-right: 5px;
    background-color: #333;
    box-shadow: 5px 5px rgb(148, 148, 148);
    width: 15%;
    border-radius: 10px;
    font-size: 40px;
    padding: 0 20px;
    margin-top: 10px;
}

.reset-btn img {
    margin-top: 5px;
    width: 100%;
}

.reset-btn:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.selected {
    background: none;
    transition: 0.3s;
    background-color: rgb(55, 144, 247);
}

.mine {
    background: none;
    transition: 0.5s;
    background-color: rgb(245, 123, 123);
}

.marked {
    background: none;
    background: linear-gradient(blue, cyan);
}

.modal {
    display: none;
}

.hint {
    border: rgb(255, 0, 0) 3px solid;
}

.safe{
    border: rgb(115, 255, 0) 3px solid;
}

footer {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    font-size: 50px;
    margin-top: 50px;
}