* {
    margin: 0;
    padding: 0;
}



body {
    text-align: center;
    color: white;
    background: linear-gradient(rgb(93, 93, 233),rgb(12, 0, 54));
    height: 120vh;
    font-family: cursive;
}

.dark-mode{
    background: none;
    background: linear-gradient(black,#333,gray);
    color: rgb(255, 255, 255);
}

.mode-btn{
    font-family: cursive;
    margin-top: 5px;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
}

.mode-btn:hover{
cursor: pointer;
transition: 0.5s;
background-color: #333;
color: white;
}


h1 {
    margin-top: 30px;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgb(92, 92, 92);
}

form {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

label {
    margin: 15px;
}

table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

td img {
    height: 30px;
    background-color: #333;
}

td {
    background-image: none;
    background: linear-gradient(lightblue,rgb(75, 135, 155));
    padding: 5px;
    font-size: 30px;
}


.score {
    font-size: 30px;
}

.timer {
    background-color: #070063;
    margin: auto;
    width: 10%;
    border: white 3px solid;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 35px;
}

.lives {
    font-family: cursive;
    font-size: 30px;
}

.cell {
    background-color: aliceblue;
    width: 40px;
    height: 40px;
}

.cell:hover {
    opacity: 0.7;
    cursor: pointer;
}


img {
    height: 50px;
    border-radius: 50%;
}

.reset-btn {
    border: 2px rgb(255, 255, 255) solid;
    width: 5%;
    border-radius: 10px;
    font-size: 40px;
    padding: 0 20px;
    margin-top: 10px;
    background-color: #070063;
}

.reset-btn img {
    margin-top: 5px;
    width: 100%;
}

.reset-btn:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.selected {
    background: none;
    transition: 0.3s;
    background-color: rgb(2, 81, 172);
}

.mine {
    background: none;
    background-color: rgb(245, 123, 123);
}

.marked {
    background: none;
    background: linear-gradient(blue, cyan);
}

.modal {
    display: none;
}

footer {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    font-size: 50px;
    margin-top: 50px;
}